.row h2{
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  color: #212121;
  position: relative;
  display: inline-block;
  letter-spacing: 1px;
  margin: 0;
  text-decoration: none;
   font-size:35px;  
  
  font-family: "Abril Fatface";
  font-size: 3.75rem;
  margin: 0 272px;
}

.colorgris{
  color: #bdbdbd; 
}

.subtitulo{  
  text-align: center;
  text-transform: uppercase;  
  color: #bdbdbd;   
  letter-spacing: 1px;
   font-size:25px;  
}
